{% extends "index.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Messages -->

    <div class="d-flex justify-content-between align-items-center mb-3">
        <button class="btn btn-outline-success" type="button" data-toggle="modal"
                data-target="#createPlanModal">
            <i class="fas fa-plus"></i>
        </button>
        <div>
            <button class="btn btn-outline-danger" type="button" data-toggle="modal"
                    data-target="#confirmDeleteModal">
                Delete Selected
            </button>
            <!--            <button type="button" class="btn btn-outline-info" data-toggle="modal"-->
            <!--                    data-target="#filterRunningCostsModal"> Filter-->
            <!--            </button>-->
        </div>
    </div>

    <div class="card shadow mb-4">

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-condensed" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="card-header"></th>
                        <th class="card-header">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="selectAll">
                                <label class="form-check-label" for="selectAll">ALL</label>
                            </div>
                        </th>
                        <!--                        <th class="card-header">Status</th>-->
                        <th class="card-header">Type</th>
                        <th class="card-header">Expense category</th>
                        <th class="card-header">Running cost category</th>
                        <th class="card-header">Target</th>
                        <th class="card-header">Amount</th>
                        <th class="card-header"></th>
                    </tr>
                    </thead>
                    <tbody id="running-costs-tbody">
                    <form id="deleteMultiplePlanerForm"
                          action="{% url 'manager:planner-delete-multiple' user_id=request.user.pk %}"
                          method="post">
                        {% csrf_token %}
                        {% for plan in object_list %}
                        <tr class="table-row" data-income-id="{{ plan.id }}">
                            <td>
                                <div class="form-check checkbox-container">
                                    <input class="form-check-input row-checkbox" type="checkbox"
                                           value="{{ plan.id }}" name="planners_selected"
                                           data-income-id="{{ plan.id }}" id="row-checkbox">
                                    <label class="form-check-label" for="markSource{{ plan.id }}"></label>
                                </div>
                            </td>
                            <td>{{ plan.type }}</td>
                            <td>{{ plan.category_expense }}</td>
                            <td>{{ plan.category_running_cost }}</td>
                            <td>{{ plan.target }}</td>
                            <td>{{ plan.amount }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Actions">
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"
                                            data-target="#updateRunningCostModal{{ plan.id }}">
                                        Edit
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="{% static 'js/select-all-in-checkbox.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function showFields() {
            var type = document.getElementById('id_type').value;
            var expenseDiv = document.getElementById('div_id_category_expense');
            var runningCostDiv = document.getElementById('div_id_category_running_cost');
            var targetDiv = document.getElementById('div_id_target');
            var amountDiv = document.getElementById('div_id_amount');

            if (type === 'needs') {
                expenseDiv.classList.remove('hidden');
                runningCostDiv.classList.remove('hidden');
                targetDiv.classList.add('hidden');
                amountDiv.classList.remove('hidden')
            } else if (type === 'wants') {
                expenseDiv.classList.add('hidden');
                runningCostDiv.classList.add('hidden');
                targetDiv.classList.remove('hidden');
                amountDiv.classList.remove('hidden')
            } else {
                expenseDiv.classList.add('hidden');
                runningCostDiv.classList.add('hidden');
                targetDiv.classList.add('hidden');
                amountDiv.classList.add('hidden')
            }
            toggleLabelVisibility('id_category_expense', type !== 'wants');
            toggleLabelVisibility('id_category_running_cost', type !== 'wants');
            toggleLabelVisibility('id_target', type !== 'needs');
        }

        function toggleLabelVisibility(inputId, show) {
            var label = document.querySelector('label[for="' + inputId + '"]');
            if (label) {
                label.style.display = show ? 'block' : 'none';
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            showFields();
        });

        document.getElementById('id_type').addEventListener('change', showFields);
    </script>
</div>


<!-- Modals-->
{% include 'expenses/planner-create-modal.html' %}
{% include 'expenses/planner-multiple-delete-modal.html' %}

{% endblock %}
