{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block appname %}
<p class="nav-item dropdown no-arrow appname">Limits</p>
{% endblock %}

{% block actions %}
<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="actionDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-wrench"></i>
        <span class="mr-2 d-none d-lg-inline text-gray-600 medium">Actions</span>
    </a>
    <!-- Dropdown - Actions -->
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left shadow animated--grow-in"
         aria-labelledby="actionDropdown">
        <button class="dropdown-item" type="button" data-toggle="modal"
                data-target="#createLimitModal">
            <i class="fas fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
            Add limit
        </button>
        <button class="dropdown-item" type="button" data-toggle="modal"
                data-target="#confirmDeleteModal">
            <i class="fas fa-minus fa-sm fa-fw mr-2 text-gray-400"></i>
            Delete Selected
        </button>
        <button class="dropdown-item" type="button" data-toggle="modal"
                data-target="#createFilterLimitModal">
            <i class="fas fa-filter fa-sm fa-fw mr-2 text-gray-400"></i>
            Filter
        </button>
    </div>
</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <form id="deleteMultipleLimitForm" method="post" action="{% url 'manager:limits-delete-multiple' %}">
        {% csrf_token %}
        <div class="row">

            {% if object_list %}

            {% for limit in object_list %}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-{{ limit.within_limit_label }} shadow h-100 py-2">
                    <input class="form-check-input position-absolute top-0 end-0 m-3" type="checkbox" value="{{ limit.id }}"
                               name="selected" id="checkbox{{ limit.id }}">
                    <div class="card-body">

                        <div class="row no-gutters align-items-center">
                            <div class="col d-flex justify-content-between align-items-center">
                                <div class="text-xl font-weight-bold text-primary text-uppercase">
                                    {% if limit.category_expense %}
                                    {{ limit.category_expense }}
                                    {% elif limit.category_running_cost %}
                                    {{ limit.category_running_cost }}
                                    {% elif limit.target %}
                                    {{ limit.target.target }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col mr-2">
                                <div class="row mt-3">
                                    <div class="col">
                                        <p class="card-text text-sm-left">
                                            Limit: ${{ limit.amount }}
                                        </p>
                                        <p class="card-text text-sm-left">
                                            Spent: ${{ limit.calculate_total_spent }}
                                        </p>
                                        <p class="card-text text-sm-left">
                                            Type: <span class="badge badge-secondary">{{ limit.type }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="small font-weight-bold mt-3">
                            <span class="float-right">{{ limit.spent_percentage }}%</span>
                        </h4>
                        <div class="col mr-2 mb-4">
                            <div class="progress mt-3">
                                <div class="progress-bar-animated bg-{{ limit.spent_percentage_label }} "
                                     role="progressbar"
                                     style="width: {{ limit.spent_percentage }}%"
                                     aria-valuenow="{{ limit.spent_percentage }}" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                data-target="#updateLimitModal{{ limit.pk }}">Details
                        </button>
                    </div>
                </div>

            </div>
            {% endfor %}
            {% endif %}
        </div>
    </form>
    <script src="{% static 'js/select-all-in-checkbox.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</div>


<!-- Modals-->
{% include 'budgets_manager/limits/create-modal.html' %}
{% include 'budgets_manager/limits/update-modal.html' %}
{% include 'budgets_manager/limits/filter-modal.html' %}
{% include 'budgets_manager/limits/multiple-delete-modal.html' %}

{% endblock %}
