{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block appname %}
<p class="nav-item dropdown no-arrow appname">Contributions</p>
{% endblock %}

{% block back %}
<button type='button' class="btn btn-outline-light text-gray-600"
        onclick="window.location.href='{% url 'targets:targets-list' %}'">
    <i class="fas fa-fast-backward"></i>
</button>
{% endblock %}

{% block actions %}
<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="actionDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-wrench"></i>
        <span class="mr-2 d-none d-lg-inline text-gray-600 medium">Actions</span>
    </a>
    <!-- Dropdown - Actions -->
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left shadow animated--grow-in"
         aria-labelledby="actionDropdown">
        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#createContributionsModal">
            <i class="fas fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
            Add contributions
        </button>
        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#confirmDeleteModal">
            <i class="fas fa-minus fa-sm fa-fw mr-2 text-gray-400"></i>
            Delete Selected
        </button>
    </div>
</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if object_list %}

    <div class="card shadow mb-4 mt-4">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-condensed" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="card-header">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="selectAll">
                                <label class="form-check-label" for="selectAll">ALL</label>
                            </div>
                        </th>
                        <th class="card-header">Target</th>
                        <th class="card-header">Amount</th>
                        <th class="card-header">Date</th>
                        <th class="card-header"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <form id="deleteMultipleContributionsForm" method="post"
                          action="{% url 'targets:contributions-list-delete-multiple' pk=target_pk %}">
                        {% csrf_token %}

                        {% for contribution in object_list %}

                        <tr class="table-row" data-income-id="{{ contribution.id }}">
                            <td>
                                <div class="form-check checkbox-container">
                                    <input class="form-check-input row-checkbox" type="checkbox"
                                           value="{{ contribution.id }}" name="selected_contributions"
                                           data-income-id="{{ contribution.id }}" id="row-checkbox">
                                    <label class="form-check-label" for="markSource{{ contribution.id }}"></label>
                                </div>
                            </td>
                            <td>{{ contribution.target }}</td>
                            <td>{{ contribution.amount }}</td>
                            <td>{{ contribution.date }}</td>
                        </tr>

                        {% endfor %}

                    </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <p class="customMessage">
        {{ custom_message }}</p>
    {% endif %}
    <script src="{% static 'js/select-all-in-checkbox.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</div>

<!--Modals-->
{% include 'targets/contributions-create-modal.html' %}
{% include 'targets/contributions-multiple-delete-modal.html' %}

{% endblock %}
