{% extends "index.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block appname %}
<p class="nav-item dropdown no-arrow appname">Targets</p>
{% endblock %}

{% block actions %}
<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="actionDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-wrench"></i>
        <span class="mr-2 d-none d-lg-inline text-gray-600 medium">Actions</span>
    </a>
    <!-- Dropdown - Actions -->
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left shadow animated--grow-in"
         aria-labelledby="actionDropdown">
        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#createTargetModal">
            <i class="fas fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
            Add target
        </button>
        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#confirmDeleteModal">
            <i class="fas fa-minus fa-sm fa-fw mr-2 text-gray-400"></i>
            Delete Selected
        </button>
    </div>
</li>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <form id="deleteMultipleTargetsForm" method="post" action="{% url 'targets:targets-list-delete-multiple' %}">
        {% csrf_token %}
        <div class="row">

            {% if object_list %}

            {% for target in object_list %}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-{{ target.deadline_is_overdue }} shadow h-100 py-2">
                    <div class="card-body">
                        <div class="col mr-2 mb-4">
                            <input class="form-check-input" type="checkbox" value="{{ target.id }}"
                                   name="selected_targets" id="checkbox{{ target.id }}">
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-{{ target.deadline_status_label }} text-uppercase mb-1">
                                    {{ target.target}}
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-{{ target.deadline_status_label }}">{{ target.deadline }}</div>
                            </div>
                        </div>

                        {% if target.description %}
                        <div class="col-auto">
                            <i class="fas fa-info-circle fa-1x text-gray-600">{{ target.description }}</i>
                        </div>
                        {% endif %}
                        <div class="col mr-2">
                            <div class="progress mt-3">
                                <div class="progress-bar-animated bg-{{ target.completed_status_label }}" role="progressbar"
                                     style="width: {{ target.progress_percentage }}%"
                                     aria-valuenow="{{ target.progress_percentage }}" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'targets:contributions-list' pk=target.pk %}"
                           class="btn btn-outline-secondary">Contributions</a>
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                data-target="#updateTargetModal{{ target.pk }}">Details
                        </button>
                    </div>
                </div>

            </div>
            {% endfor %}
            {% endif %}
        </div>
    </form>
    <script src="{% static 'js/select-all-in-checkbox.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</div>

{% include 'targets/targets-create-modal.html' %}
{% include 'targets/targets-update-modal.html' %}
{% include 'targets/targets-multiple-delete-modal.html' %}

{% endblock %}
