{% extends "index.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Messages -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <button class="btn btn-outline-success" data-toggle="modal" data-target="#createIncomeModal">
            <i class="fas fa-plus"></i>
        </button>
        <div>
            <button class="btn btn-outline-danger" data-toggle="modal"
                    data-target="#confirmDeleteModal">Delete Selected
            </button>
            <button type="button" class="btn btn-outline-info" data-toggle="modal"
                    data-target="#filterIncomesModal">
                Filter
            </button>
        </div>
        <form action="{% url 'incomes:incomes-list' %}" method="get" class="form-inline">
            {% csrf_token %}
            <div class="input-group row">
                <label for="expensesSort" class="mr-2">Sort by:</label>
                <select id="expensesSort" name="sort_by" class="form-control-sm "
                        onchange="this.form.submit()">
                    <option value="" hidden selected></option>
                    <option value="all">All</option>
                    {% for choice_value, choice_label in filter.form.sort_by.field.choices %}
                    <option value="{{ choice_value }}">{{ choice_label }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-condensed" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="card-header">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="selectAll">
                                <label class="form-check-label" for="selectAll">ALL</label>
                            </div>
                        </th>
                        <th class="card-header">Source</th>
                        <th class="card-header">Category</th>
                        <th class="card-header">Amount</th>
                        <th class="card-header">Date</th>
                        <th class="card-header"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <form id="deleteMultipleIncomesForm" method="post" action="{% url 'incomes:incomes-delete-multiple' %}">
                        {% csrf_token %}
                        {% for income in object_list %}

                        <tr class="table-row" data-income-id="{{ income.id }}">
                            <td>
                                <div class="form-check checkbox-container">
                                    <input class="form-check-input row-checkbox" type="checkbox"
                                           value="{{ income.id }}" name="selected_incomes"
                                           data-income-id="{{ income.id }}" id="row-checkbox">
                                    <label class="form-check-label" for="markSource{{ income.id }}"></label>
                                </div>
                            </td>
                            <td>{{ income.source }}</td>
                            <td>{{ income.category }}</td>
                            <td>{{ income.amount }}</td>
                            <td>{{ income.date }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Actions">
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"
                                            data-target="#editIncomeModal{{ income.id }}">
                                        Edit
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </form>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="{% static 'js/select-all-in-checkbox.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</div>


<!-- Modals-->

<!--Edit income by id-->
{% for income in object_list %}
<div class="modal fade" id="editIncomeModal{{ income.id }}" tabindex="-1" role="dialog"
     aria-labelledby="editIncomeModalLabel{{ income.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editIncomeModalLabel{{ income.id }}">Edit Income</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'incomes:incomes-detail-update' income.id %}" method="post">
                    {% csrf_token %}
                    <div class="container">
                        <div class="main-body">
                            <div class="row gutters-sm">
                                <div class="card-body">
                                    <div class="row gutters-sm">
                                        <div class="col">
                                            <label for="source{{ income.id }}">Source</label>
                                            <input type="text" class="form-control form-control-user text-secondary"
                                                   id="source{{ income.id }}" name="source"
                                                   value="{{ income.source }}"
                                                   placeholder="Enter source">
                                        </div>
                                        <div class="col">
                                            <label for="category{{ income.id }}">Category</label>
                                            <input type="text" class="form-control form-control-user text-secondary"
                                                   id="category{{ income.id }}" name="category"
                                                   value="{{ income.category }}"
                                                   placeholder="Enter category">
                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="amount{{ income.id }}">Amount</label>
                                        <input type="number" class="form-control form-control-user text-secondary"
                                               id="amount{{ income.id }}" name="amount" value="{{ income.amount }}"
                                               placeholder="Enter amount" step="0,01">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="date{{ income.id }}">Datetime</label>
                                        <input type="datetime-local"
                                               class="form-control form-control-user text-secondary"
                                               id="datetime{{ income.id }}" name="date"
                                               value="{{ income.date|date:'Y-m-d\TH:i' }}"
                                               placeholder="Enter date">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary"
                                data-dismiss="modal">Cancel
                        </button>
                        <button type="submit" class="btn btn-outline-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endfor %}

<!-- Create Income Modal -->
<div class="modal fade" id="createIncomeModal" tabindex="-1" role="dialog" aria-labelledby="createIncomeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createIncomeModalLabel">Create Income</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'incomes:incomes-list' %}" method="post">
                    {% csrf_token %}
                    <div class="container">
                        <div class="main-body">
                            <div class="row gutters-sm">
                                <div class="card-body">
                                    <div class="row gutters-sm">
                                        <div class="col">
                                            {{ form.as_p }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel
                                </button>
                                <button type="submit" class="btn btn-outline-success">Create</button>
                            </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Multiple delete by selected incomes-->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the selected incomes?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" form="deleteMultipleIncomesForm" class="btn btn-outline-danger">Delete
                </button>
            </div>
        </div>
    </div>
</div>

<!--Filter incomes modal-->
<div class="modal fade" id="filterIncomesModal" tabindex="-1" role="dialog"
     aria-labelledby="filterIncomesModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterIncomesModalLabel">Filter Incomes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'incomes:incomes-list' %}" method="get" id="modalFilterForm">
                    <div class="container">
                        <div class="main-body">
                            <div class="row gutters-sm">
                                <div class="col">
                                    <label for="min_amount">{{ filter.form.min_amount.label }}</label>
                                    <input type="number" step="0.01"
                                           class="form-control form-control-user text-secondary"
                                           id="min_amount" name="min_amount" placeholder="Enter min amount">
                                </div>
                                <div class="col">
                                    <label for="max_amount">{{ filter.form.max_amount.label }}</label>
                                    <input type="number" step="0.01"
                                           class="form-control form-control-user text-secondary"
                                           id="max_amount" name="max_amount" placeholder="Enter max amount">
                                </div>
                            </div>
                            <div class="row gutters-sm">
                                <div class="col">
                                    <label for="start_date">{{ filter.form.start_date.label }}</label>
                                    <input type="date" class="form-control form-control-user text-secondary"
                                           id="start_date"
                                           name="start_date" placeholder="Enter start date">
                                </div>
                                <div class="col">
                                    <label for="end_date">{{ filter.form.end_date.label }}</label>
                                    <input type="date" class="form-control form-control-user text-secondary"
                                           id="end_date"
                                           name="end_date" placeholder="Enter end date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-primary">Filter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
