{% extends "index.html" %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables
            documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <form method="get">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Source</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>Datetime</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th>Source</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>Datetime</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for income in incomes %}
                        <tr>
                            <td>{{ income.source }}</td>
                            <td>{{ income.category }}</td>
                            <td>{{ income.amount }}</td>
                            <td>{{ income.date }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>

            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}