{% for income in object_list %}
<div class="modal fade" id="editIncomeModal{{ income.id }}" tabindex="-1" role="dialog"
     aria-labelledby="editIncomeModalLabel{{ income.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editIncomeModalLabel{{ income.id }}">Edit Income</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'incomes:incomes-detail-update' income.id %}" method="post">
                    {% csrf_token %}
                    <div class="container">
                        <div class="main-body">
                            <div class="row gutters-sm">
                                <div class="card-body">
                                    <div class="row gutters-sm">
                                        <div class="col">
                                            <label for="source{{ income.id }}">Source</label>
                                            <input type="text" class="form-control form-control-user text-secondary"
                                                   id="source{{ income.id }}" name="source"
                                                   value="{{ income.source }}"
                                                   placeholder="Enter source">
                                        </div>
                                        <div class="col">
                                            <label for="category{{ income.id }}">Category</label>
                                            <input type="text" class="form-control form-control-user text-secondary"
                                                   id="category{{ income.id }}" name="category"
                                                   value="{{ income.category }}"
                                                   placeholder="Enter category">
                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="amount{{ income.id }}">Amount</label>
                                        <input type="number" class="form-control form-control-user text-secondary"
                                               id="amount{{ income.id }}" name="amount" value="{{ income.amount }}"
                                               placeholder="Enter amount" step="0,01">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="date{{ income.id }}">Datetime</label>
                                        <input type="datetime-local"
                                               class="form-control form-control-user text-secondary"
                                               id="datetime{{ income.id }}" name="date"
                                               value="{{ income.date|date:'Y-m-d\TH:i' }}"
                                               placeholder="Enter date">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary"
                                data-dismiss="modal">Cancel
                        </button>
                        <button type="submit" class="btn btn-outline-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}