{% extends "index.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <button class="btn btn-outline-success" data-toggle="modal" data-target="#createBillModal">
            <i class="fas fa-plus me-1"></i>
        </button>
        <div>
            <button type="button" class="btn btn-outline-info me-2" data-toggle="modal"
                    data-target="#filterRunningCostsModal">Filter
            </button>
            <button class="btn btn-outline-danger" data-toggle="modal"
                    data-target="#confirmDeleteModal">Delete Selected
            </button>
        </div>
    </div>


    <div class="card-body justify-content-between align-items-center">
        <!--            {% csrf_token %}-->
        <div class="card-group">
            {% for bill in object_list %}
            <div class="card target-card shadow-sm mb-4">
                <div class="position-relative">
                    <div class="form-check custom-checkbox position-absolute top-0 start-0 mt-3 ms-3">
                        <input class="form-check-input row-checkbox" type="checkbox" value="{{ bill.id }}"
                               name="selected_targets" id="checkbox{{ bill.id }}">
                        <label class="form-check-label" for="checkbox{{ bill.id }}"></label>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ bill.creditor }}</h5>
                    <p class="card-text" style="white-space: pre-line;">{{ bill.amount }}</p>
                    <div class="d-flex justify-content-between align-items-center mt-3 ">
                        <a href="{% url 'bills:bills-list' %}"
                           class="btn btn-outline-secondary mr-3">Transactions</a>
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                data-target="#updateTargetModal{{ bill.pk }}">Details
                        </button>
                    </div>
                    <p class="card-text mt-3 text-end"><small class="text-muted">{{ bill.deadline }}</small>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'js/select-all-in-checkbox.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</div>

<div class="modal fade" id="createBillModal" tabindex="-1" role="dialog"
     aria-labelledby="createBillModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createBillModalLabel">Add target</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'bills:bills-list' %}" method="post">
                    {% csrf_token %}
                    <div class="container">
                        <div class="main-body">
                            <div class="row gutters-sm">
                                <div class="card-body">
                                    <div class="row gutters-sm">
                                        <div class="col">
                                            {{ form.creditor.label_tag }}
                                            {{ form.creditor }}
                                        </div>
                                        <div class="col">
                                            {{ form.amount.label_tag }}
                                            {{ form.amount }}
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        {{ form.deadline.label_tag }}
                                        {{ form.deadline }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-success">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
