{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form class="user" method="post" enctype="multipart/form-data" id="changePasswordForm">
    {% csrf_token %}
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-8">
                    <h4 class="h4 text-gray-900 mb-4">Change Password</h4>

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-3">Current password</h6>
                                <div class="flex-grow-1">
                                    <input name="old_password" type="password" autocomplete="current-password"
                                           class="form-control form-control-user text-secondary"
                                           id="id_old_password" autofocus>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-3">New password</h6>
                                <div class="flex-grow-1">
                                    <input name="new_password1" type="password"
                                           class="form-control form-control-user text-secondary"
                                           id="id_new_password1" autocomplete="new_password">
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-3">New password confirmation</h6>
                                <div class="flex-grow-1">
                                    <input name="new_password2" type="password"
                                           class="form-control form-control-user text-secondary"
                                           id="id_new_password2" autocomplete="new_password">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="dropdown-item" href="#" id="changePasswordButton">
        <div class="btn btn-outline-primary btn-user btn-block btn-icon-split">Change my password</div>
    </a>
    <!--    <button class="btn btn-outline-primary btn-user btn-block btn-icon-split" type="submit">Change my password</button>-->
</form>
<!--Modal-->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you redy to change password?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Change my password" below  to proceed with the password change</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button id="confirmChangePasswordBtn" class="btn btn-primary">Change my password</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('changePasswordButton').addEventListener('click', function () {
        $('#changePasswordModal').modal('show');
    });

    document.getElementById('confirmChangePasswordBtn').addEventListener('click', function () {
        document.getElementById('changePasswordForm').submit();
    });
</script>
{% endblock %}
