{% extends "index.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block appname %}
<p class="nav-item dropdown no-arrow appname">Budget Plan Description</p>
<a href="{% url 'manager:budget-detail-update' pk=request.user.budgetmanager.pk %}"
   class="btn btn-sm btn-outline-success btn-user float-right"><i class="fas fa-edit"></i></a>
{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-{{ needs.is_within_needs_budget }} shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                Your Needs {{ request.user.budgetmanager.needs_percentage }}%
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ${{ needs.total_spent_in_month }} / ${{ needs.get_limit }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-info-circle text-warning" data-toggle="tooltip" data-placement="top"
                               title="Includes essential expenses such as rent, utilities, groceries, and transportation."></i>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <p class="card-text text-sm-left">
                                Status: <span class="badge badge-{{ needs.is_within_needs_budget }}">{{ needs.is_within_needs_budget }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <p class="card-text text-sm-left">
                                <strong>Includes:</strong> Essential expenses such as rent, utilities, groceries, and
                                transportation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-{{ wants.is_within_wants_budget_label }} shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                Your Wants {{ request.user.budgetmanager.wants_percentage }}%
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ${{ wants.total_spent_in_month }} / ${{ wants.get_limit }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-info-circle text-warning" data-toggle="tooltip" data-placement="top"
                               title="Includes discretionary expenses such as entertainment, dining out, and hobbies."></i>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <p class="card-text text-sm-left">
                                Status: <span class="badge badge-{{ wants.is_within_wants_budget_label }}">{{ wants.is_within_wants_budget_label }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <p class="card-text text-sm-left">
                                <strong>Includes:</strong> Discretionary expenses such as entertainment, dining out, and
                                hobbies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                Your save's target (monthly) {{ request.user.budgetmanager.savings_percentage }}%
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ${{ savings.total_amount }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-info-circle text-warning" data-toggle="tooltip" data-placement="top"
                               title="Includes discretionary expenses such as entertainment, dining out, and hobbies."></i>
                        </div>
                    </div>
<!--                    <div class="row mt-3">-->
<!--                        <div class="col">-->
<!--                            <p class="card-text text-sm-left">-->
<!--                                Status: <span class="badge badge-{{ wants.is_within_wants_budget_label }}">{{ wants.is_within_wants_budget_label }}</span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="row mt-3">
                        <div class="col">
                            <p class="card-text text-sm-left">
                                <strong>Includes:</strong> Your savings.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

{% block script %}
{% endblock %}

{% endblock %}
