{% extends "index.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Messages -->
    <h1 class="h3 mb-4 text-gray-800">Expenses</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-success" data-toggle="modal" data-target="#createExpensesModal">
                <i class="fas fa-plus"></i> Add Expenses
            </button>
            <button type="button" class="btn btn-outline-info" data-toggle="modal"
                    data-target="#filterExpensesModal">
                Filter
            </button>
            <button class="btn btn-outline-danger" data-toggle="modal"
                    data-target="#confirmDeleteModal">
                <i class="fas fa-minus"></i> Delete Selected
            </button>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-condensed" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="card-header">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="selectAll">
                                <label class="form-check-label" for="selectAll">Select ALL</label>
                            </div>
                        </th>
                        <th class="card-header">
                            <form id="filterExpensesForm" action="{% url 'expenses:expenses-list' %}"
                                  method="get" class="form-inline">
                                {% csrf_token %}
                                <div class="input-group">
                                    <label for="categoryFilter" class="mr-2">Category:</label>
                                    <select id="categoryFilter" name="category" class="form-control-sm "
                                            onchange="this.form.submit()">
                                        <option value="" hidden selected></option>
                                        <option value="all">All</option>
                                        {% for category in categories %}
                                        <option value="{{ category.pk }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </th>
                        <th class="card-header">Amount</th>
                        <th class="card-header">Date</th>
                        <th class="card-header">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <form id="deleteMultipleIncomesForm" method="post" action="{% url 'incomes:delete-multiple' %}">
                        {% csrf_token %}
                        {% for expense in expenses %}
                        <tr class="table-row" data-income-id="{{ expense.id }}">
                            <td>
                                <div class="form-check checkbox-container">
                                    <input class="form-check-input row-checkbox" type="checkbox"
                                           value="{{ expense.id }}" name="selected_incomes"
                                           data-income-id="{{ expense.id }}" id="row-checkbox">
                                    <label class="form-check-label" for="markSource{{ expense.id }}"></label>
                                </div>
                            </td>
                            <td>{{ expense.category }}</td>
                            <td>{{ expense.amount }}</td>
                            <td>{{ expense.datetime }}</td>
                            <!--                            <td>-->
                            <!--                                <a class="btn btn-outline-primary btn-circle edit-button" href="#" data-toggle="modal"-->
                            <!--                                   data-target="#editIncomeModal{{ income.id }}">-->
                            <!--                                    <i class="fas fa-edit"></i>-->
                            <!--                                </a>-->
                            <!--                            </td>-->
                            <td>
                                <div class="btn-group" role="group" aria-label="Actions">
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"
                                            data-target="#editIncomeModal{{ expense.id }}">
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal"
                                            data-target="#deleteIncomeModal{{ expense.id }}">
                                        Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="{% static 'js/select-all-in-checkbox.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</div>


<!--&lt;!&ndash; Modals&ndash;&gt;-->

<!--&lt;!&ndash;Edit income by id&ndash;&gt;-->
<!--{% for income in incomes %}-->
<!--<div class="modal fade" id="editIncomeModal{{ income.id }}" tabindex="-1" role="dialog"-->
<!--     aria-labelledby="editIncomeModalLabel{{ income.id }}" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="editIncomeModalLabel{{ income.id }}">Edit Income</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <form action="{% url 'incomes:income-detail-update' income.id %}" method="post">-->
<!--                    {% csrf_token %}-->
<!--                    <input type="hidden" name="_method" value="PATCH">-->
<!--                    <div class="form-group">-->
<!--                        <label for="source{{ income.id }}">Source</label>-->
<!--                        <input type="text" class="form-control form-control-user text-secondary"-->
<!--                               id="source{{ income.id }}" name="source" value="{{ income.source }}"-->
<!--                               placeholder="Enter source">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="category{{ income.id }}">Category</label>-->
<!--                        <input type="text" class="form-control form-control-user text-secondary"-->
<!--                               id="category{{ income.id }}" name="category" value="{{ income.category }}"-->
<!--                               placeholder="Enter category">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="amount{{ income.id }}">Amount</label>-->
<!--                        <input type="text" class="form-control form-control-user text-secondary"-->
<!--                               id="amount{{ income.id }}" name="amount" value="{{ income.amount }}"-->
<!--                               placeholder="Enter amount">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="date{{ income.id }}">Datetime</label>-->
<!--                        <input type="datetime-local" class="form-control form-control-user text-secondary"-->
<!--                               id="datetime{{ income.id }}" name="date" value="{{ income.date|date:'Y-m-d\TH:i' }}"-->
<!--                               placeholder="Enter date">-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>-->
<!--                        <button type="submit" class="btn btn-outline-primary">Save Changes</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->
<!--{% endfor %}-->

<!-- Create Income Modal -->
<div class="modal fade" id="createExpensesModal" tabindex="-1" role="dialog" aria-labelledby="createExpensesModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createExpensesModalLabel">Create Expenses</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'expenses:expenses-list-create' %}" method="post">
                    {% csrf_token %}
                    <div class="container">
                        <div class="main-body">
                            <div class="row gutters-sm">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <select class="form-control form-control-user text-secondary" id="category"
                                                name="category" form="filterExpensesModal">
                                            <option value="" disabled selected>Select a category</option>
                                            {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="amount">Amount</label>
                                        <input type="number" class="form-control form-control-user text-secondary"
                                               id="amount" name="amount"
                                               placeholder="Enter amount" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="datetime">Datetime</label>
                                        <input type="datetime-local"
                                               class="form-control form-control-user text-secondary"
                                               id="datetime" name="datetime"
                                               placeholder="Enter date" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-success">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="filterExpensesModal" tabindex="-1" role="dialog" aria-labelledby="filterExpensesModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterExpensesModalLabel">Filter Expenses</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="get" id="modalFilterForm">
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--&lt;!&ndash;Multiple delete by selected incomes&ndash;&gt;-->
<!--<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"-->
<!--     aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Deletion</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                Are you sure you want to delete the selected incomes?-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>-->
<!--                <button type="submit" form="deleteMultipleIncomesForm" class="btn btn-outline-danger">Delete</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<script>-->
<!--    document.getElementById('selectAll').addEventListener('change', toggleSelectAll);-->

<!--    function toggleSelectAll() {-->
<!--        const selectAllCheckbox = document.getElementById('selectAll');-->
<!--        const checkboxes = document.querySelectorAll('.row-checkbox');-->
<!--        checkboxes.forEach(checkbox => {-->
<!--            checkbox.checked = selectAllCheckbox.checked;-->
<!--            toggleActiveClass(checkbox);-->
<!--        });-->
<!--    }-->

<!--    function toggleActiveClass(checkbox) {-->
<!--        if (checkbox.checked) {-->
<!--            checkbox.closest('.table-row').classList.add('active');-->
<!--        } else {-->
<!--            checkbox.closest('.table-row').classList.remove('active');-->
<!--        }-->
<!--    }-->

<!--    // Add event listeners to each row checkbox to handle manual checking/unchecking-->
<!--    document.querySelectorAll('.row-checkbox').forEach(checkbox => {-->
<!--        checkbox.addEventListener('change', function () {-->
<!--            toggleActiveClass(this);-->
<!--        });-->
<!--    });-->

<!--</script>-->
<!-- /.container-fluid -->
{% endblock %}
