/* CSS for modern table row styling */
.table-row {
    transition: background-color 0.3s;
}

.table-row:hover {
    background-color: #f8f9fa;
}

.table-link {
    color: #007bff;
    transition: color 0.3s;
}

.table-link:hover {
    color: #0056b3;
}

.edit-button, .delete-button {
    transition: transform 0.3s;
}

.edit-button:hover, .delete-button:hover {
    transform: scale(1.1);
}

.table-row.active {
    background-color: #e0f7fa;
}

.late-payment {
    /*background-color: #ffe8a1;*/
    border-color: #ffe8a1;
    border-style: solid;
    border-width: 3px;
}

.btn-circle-custom {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
}

.luminous-indicator {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 0 0 var(--glow-color);
    }
    100% {
        box-shadow: 0 0 2px 1px var(--glow-color);
    }
}

.btn-success {
    /*--glow-color: #01b301;*/
    background-color: #01b301;
    border-color: #01b301;
}

.btn-danger {
    --glow-color: #ff0000;
    background-color: var(--glow-color);
}

/* Container for cards */
.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
}

/* Card styles */
.target-card {
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.target-card:hover {
    transform: translateY(-10px);
}

.target-card .card-body {
    padding: 1.25rem;
}

.target-card .btn {
    width: 100%;
}

.target-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.custom-file-input {
    display: none;
}

.custom-file-label {
    display: block;
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #fff;
}